/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: #064E3B;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 30px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.topbar h2 {
  font-size: 18px;
  font-weight: 500;
}

/* PAGE WRAPPER */
.wrapper {
  display: flex;
  margin-top: 60px; /* height of topbar */
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 260px;
  height: calc(100vh - 60px);
  background: #065F46;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidebar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #064E3B;
  object-fit: cover;
  margin-bottom: 20px;
}

.sidebar h1 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

.sidebar p {
  font-size: 14px;
  line-height: 1.6;
  color: #D1FAE5;
  margin-bottom: 10px;
}

/* MAIN CONTENT */
.content {
  margin-left: 260px;
  padding: 40px;
  width: 100%;
}

/* PROJECT CARDS */
.project-card {
  display: block;
  background: #f8fafc;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #0f172a;

  /* LEFT ACCENT BORDER */
  border-left: 6px solid #10B981;

  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

/* ABOUT SECTION */
.about {
  background: #ffffff;
  border-left: 6px solid #10B981;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.about h2 {
  color: #064E3B;
  margin-bottom: 25px;
}

.about p {
  margin-bottom: 20px;
  line-height: 1.7;
  color: #334155;
}

.role {
  font-size: 14px;
  font-weight: 500;
  color: #A7F3D0;
  margin-bottom: 20px;
}

.info {
  width: 100%;
  margin-top: 10px;
}

.info p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #D1FAE5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.info a {
  color: #A7F3D0;
  text-decoration: none;
  word-break: break-word;
}

.info a:hover {
  text-decoration: underline;
}

.wrapper .content .about p {
  margin-bottom: 20px;
  line-height: 1.7;
}
